/* Document
========================================================================== */

/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
	margin: 0; padding: 0;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
	background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
	border-style: none;
}

/* Forms
========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button,
input { /* 1 */
	overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
	vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
	overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
	display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
	display: list-item;
}

/* Misc
========================================================================== */

/**
* Add the correct display in IE 10+.
*/

template {
	display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
	display: none;
}

/* GENERAL */

*, ::after, ::before { box-sizing: border-box; }

html, body {
	padding: 0; margin: 0;
	font-family: sans-serif; font-display: swap;
	position: relative; z-index: 0;
	scroll-behavior: smooth;
	overscroll-behavior: none;
}

img { max-width: 100%; height: auto; }

a { color: inherit; text-decoration: none; }

button, input, select {
	/* -webkit-appearance: unset; */
	border: none;
	box-shadow: none;
	outline: none;
}

*:focus, *:active {
	border-color: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

h1, h2, h3, h4, h5, p { margin-top: 0; }

/* ========================================== */

.inline { display: inline-block; }
.block { display: block; }
.flex { display: flex; }

.bold { font-weight: bolder; }
.light { font-weight: lighter; }
.normal { font-weight: normal; }

.lower { text-transform: lowercase; }
.upper { text-transform: uppercase; }

.hide { display: none !important; visibility: hidden; }

@media (min-width: 1025px) {
	.mobile { display: none !important; visibility: hidden; }
}

@media (max-width: 1024px) {
	.desktop { display: none !important; visibility: hidden; }
}

/* ========================================== */

/* FONT_SIZE */

.fsize_vbig { font-size: clamp(28px, 3vw, 58px); line-height: 1.5em; }
.fsize_big { font-size: clamp(24px, 2.4vw, 46px); line-height: 1.5em; }
.fsize_vlg { font-size: clamp(21px, 1.9vw, 36px); line-height: 1.5em; }
.fsize_lg { font-size: clamp(18px, 1.5vw, 28px); line-height: 1.25em }
.fsize_vmd { font-size: clamp(16px, 1.3vw, 24px); line-height: 1.25em; }
.fsize_md { font-size: clamp(14px, 1vw, 19px); line-height: 1.25em; }
.fsize_sm { font-size: clamp(12px, 0.8vw, 16px); line-height: 1.25em; }
.fsize_vsm { font-size: clamp(10px, 0.625vw, 12px); line-height: 1.25em; }

sup { font-size: 0.5em; top: -1em; }

/* ========================================== */

/* FLEX_WRAPPER */

.row_wrapper { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.column_wrapper { display: flex; justify-content: center; align-items: center; flex-direction: column; flex-wrap: wrap; }

/* ========================================== */

/* FIT_CONTENT */

.fit_content {
	width: fit-content; width: intrinsic; width: -moz-max-content;
	height: fit-content; height: intrinsic; height: -moz-max-content;
}
.fit_width {
	width: fit-content;
	width: intrinsic;
	width: -moz-max-content;
}
.fit_height {
	height: fit-content;
	height: intrinsic;
	height: -moz-max-content;
}

/* ========================================== */

/* SCROLL */

.mab_scroll { cursor: pointer; }

/* ========================================== */

/* COLLAPSE */

.mab_collapse__button { cursor: pointer; }
.mab_collapse__content:not(.is_open) {
	overflow: hidden;
	height: 0;
	transition: height 0.3s ease;
}

/* ========================================== */

/* MODALS */

.mab_modal {
	position: fixed; top: 0; left: 0; z-index: 2147483647;
	display: none; justify-content: center; align-items: center;
	width: 100vw; height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	animation: fade_out 0.5s both;
	overscroll-behavior: none;
}
.mab_modal__wrapper {
	width: 85%;
	max-width: calc(100vw - 42px); max-height: calc(100vh - 42px);
	position: relative;
	background-color: white;
	padding: 42px;
	overflow: auto;
	cursor: initial;
	animation: slide_to_bottom 0.5s both;
	overscroll-behavior-y: contain;
}
.mab_modal__open {cursor: pointer; }
.mab_modal__close {
	position: absolute; top: 15px; right: 15px; z-index: 10;
	cursor: pointer;
	width: 20px; height: 20px;
	background: url("./images/close.png") no-repeat center/contain;
	transition: transform 0.4s ease;
}
.mab_modal[aria-hidden="false"] { animation: fade_in 0.5s both; }
.mab_modal[aria-hidden="false"] .mab_modal__wrapper { animation: slide_from_top 0.5s both; }

/* ========================================== */

/* CHECKBOX */

.mab_checkbox {
	position: relative;
	width: 100px; height: 50px;
	margin: 5px;
	border-radius: 5px;
}
.mab_checkbox input {
	position: relative; z-index: 1;
	width: 100%; height: 100%;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}
.mab_checkbox label {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	display: flex; justify-content: center; align-items: center;
	text-align: center;
	border: 1px solid black; border-radius: inherit;
	transition: all 0.3s ease;
}
.mab_checkbox input:checked + label {
	color: white;
	font-weight: bold;
	background-color: black;
}

/* ========================================== */

/* RADIO */

.mab_radio {
	position: relative;
	display: grid; grid-template-columns: min-content auto; grid-gap: 10px;
	justify-content: center; align-items: center;
	margin: 0 5px;
	cursor: pointer;
}
.mab_radio__label, .mab_radio__input {
	display: flex; justify-content: center; align-items: center;
}
.mab_radio input {
	position: absolute; z-index: -1;
	width: max(1.5vw, 20px); height: max(1.5vw, 20px);
	margin: 0;
	opacity: 0;
}
.mab_radio__label {
	line-height: 1;
}
.mab_radio__control {
	width: max(1.5vw, 20px); height: max(1.5vw, 20px);
	border: 1px solid black; border-radius: 50%;
	transition: background 0.3s ease;
}
.mab_radio input:checked + .mab_radio__control {
	background: black center/contain;
	border-color: transparent;
}

/* ========================================== */

/* SWITCH */

.mab_switch {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	width: 60px; height: 30px;
}
.mab_switch input { display: none; }
.mab_switch__slider {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	cursor: pointer;
	background-color: black;
	transition: background-color .3s ease;
	border-radius: 25px;
}
.mab_switch__slider::before {
	position: absolute;left: 0; bottom: 0;
	content: ' ';
	width: 30px; height: 30px;
	background-color: white;
	transition: transform .3s ease;
	border-radius: 50%;
}
.mab_switch input:checked + .mab_switch__slider {
	background-color: black;
}
.mab_switch input:checked + .mab_switch__slider::before {
	transform: translateX(100%);
}

/* ========================================== */

/* ANIMATIONS */
/* class name to activate: mab_animation */

.slide_from_top		{ transform: translate(0%, -100px); transition: transform 1s ease-in; }
.slide_from_right	{ transform: translate(100px, 0%); transition: transform 1s ease-in; }
.slide_from_bottom	{ transform: translate(0%, 100px); transition: transform 1s ease-in; }
.slide_from_left	{ transform: translate(-100px, 0%); transition: transform 1s ease-in; }

.animated { will-change: transform; }
.slide_from_top.animated	{ transform: translate(0%, 0%); }
.slide_from_right.animated	{ transform: translate(0%, 0%); }
.slide_from_bottom.animated	{ transform: translate(0%, 0%); }
.slide_from_left.animated	{ transform: translate(0%, 0%); }

.fade_in { opacity: 0; transition: opacity 3s; }
.fade_in.animated { opacity: 1; }


/* ANIMATIONS keyframes */

@keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fade_out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes slide_from_top {
	from { transform: translateY(-100px); }
	to { transform: translateY(0); }
}
@keyframes slide_to_bottom {
	from { transform: translateY(0); }
	to { transform: translateY(100px); }
}

.bounce { animation: bounce 3s infinite; }
@keyframes bounce {
	0%		{ transform: translateY(0); }
	50%		{ transform: translateY(10px); }
	100%	{ transform: translateY(0); }
}

/* ========================================== */

/* SLIDER */

.mab_slider { position: relative; }
/* .mab_slider.modal_wrapper { background: unset; box-sizing: content-box; } */
.mab_slider__next,
.mab_slider__prev {
	position: absolute; top: 50%; right: 1%; z-index: 10;
	transform: translateY(-50%);
	cursor: pointer;
	width: 30px; height: 30px;
}
.mab_slider__next { background: url("./images/next.png") no-repeat center/contain; }
.mab_slider__prev { background: url("./images/prev.png") no-repeat center/contain; }

.mab_slider__prev { right: unset; left: 1%; }
.mab_slider__element {
	position: absolute; top: 0; left: 0; z-index: -1;
	width: 100%; height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;
	visibility: hidden;
}
.mab_slider__element.active { opacity: 1; z-index: 1; visibility: unset; }

/* FULLSCREEN */

.mab_slider__fullscreen {
	position: relative;
	display: flex;
}
#mab_slider__fullscreen--modal .mab_slider,
#mab_slider__fullscreen--modal .splide {
	width: 100vw; height: 100vh;
	background-color: white;
}
#mab_slider__fullscreen--modal .splide__pagination { transform: translate(-50%, -50%); }
.mab_slider__open {
	position: absolute; bottom: 15px; right: 15px; z-index: 10;
	cursor: pointer;
	width: 20px; height: 20px;
	background: url("./images/fullscreen.png") no-repeat center/contain;
	transition: transform 0.4s ease;
}

/* ========================================== */

/* LIGHTBOX */

.mab_lightbox { cursor: pointer; }
#mab_slider_lightbox.mab_modal__wrapper { height: 85%; padding: 0; }
#mab_lightbox--modal .mab_slider__element {
	cursor: initial;
	padding: 0;
	max-width: 90%; max-height: 90%;
	background: unset;
	top: 50%; left: 50%; transform: translate(-50%, -50%);
}

/* ========================================== */

/* IMG_COMPARE */

.mab_img_cmp {
	position: relative;
	width: 50%;
	aspect-ratio: 16 / 9;
	margin: auto;
}
.mab_img_cmp__img {
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	width: 100%; height: 100%;
	overflow: hidden;
}
.mab_img_cmp__overlay { z-index: 1; border-right: 1px solid white; }
.mab_img_cmp__slider {
	position: absolute; top: 50%; z-index: 10;
	cursor: ew-resize;
	width: 42px; height: 42px;
	transform: translateY(-50%);
	background: white url("./images/slider.svg") no-repeat top/cover;
	border-radius: 50%;
}

/* ========================================== */
